[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
pylint = "*"
"pep8" = "*"
"autopep8" = "*"

[packages]
requests = ">=2.20.0"
biopython = "*"
urllib3 = ">=1.24.2"
notebook = ">=5.7.8"
isodate = "*"
nbmerge = "*"
jupyter = "*"
jinja2 = ">=2.10.1"
bleach = ">=3.1.4"
yattag = "*"
pandas = "*"
faker = "*"

[requires]
python_version = "3.9"
