[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
pylint = "*"
"pep8" = "*"
"autopep8" = "*"

[packages]
requests = "*"
biopython = "*"

[requires]
python_version = "3.6"
