[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
pylint = "*"
"pep8" = "*"
"autopep8" = "*"

[packages]
requests = ">=2.20.0"
biopython = "*"
"urllib3" = ">=1.23"
notebook = ">=5.7.2"
isodate = "*"

[requires]
python_version = "3.6"
